body { 
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

div.container {
    max-width: 1000px;
    margin: 30px auto;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {
	body {
		max-width: 1920px;
		margin: 0 auto;
	}   
}

