header { 
	background-color: white;
	height: 60px;
	width: 100%;
	border-top: 100%;
	border-bottom: 1px #CCCCCC;
}

header .logo {
	    background-image: url("../images/logo.png");
	    align-items: left;
	    height: 70px;
	    width: 100%;
	    border-bottom:  1px #CCCCCC;
	    background-repeat: no-repeat;
	    background-size: contain;
				        
}
